body {
    font-family: "Raleway", sans-serif;
}

header {
    background-color: #000000;
    font-weight: 600;
    color: white;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.container span {
    color:#30d1b4;
}

nav {
    float: right;
    font-weight: 700;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

nav ul li {  
    display: inline-block;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color:white;
    margin: 0 5px;
}


#dropdown {
    display: none;
    position: absolute;
    font-weight: 400;
    z-index: 2;
    
}

 nav ul li:hover #dropdown {
    display: block;
}

#dropmenu {
    position: relative;
}

#black {
    width: 100px;
    height: 70px;
    background-color: black;
    position: absolute;
    left: -9px;
    top: -7px;
}

#triangle {
    width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 17px solid black;
    position: absolute;
    left: 26px;
    top: -10px;
}

#content {
    display: flex;
    align-items: center;
}


#adv {
    width: 60%;
    height: 300px;
    position: relative;
}

#picture {
    width: 40%;
}


#adv h1 {
    font-size: 30px;
    text-align: center;
}


#adv p {
    text-align: center;
    line-height: 25px;
    font-size: 15px;
}

#adv a {
    text-decoration: none;
    color:white;
    font-size: 20px;
    border: 1px solid white;
    background-color: #23ba9c ;
    width: 280px;
    height: 35px;
    border-radius: 15px;    
    text-align: center;
    margin: 0 auto;
    padding: 7px 0 5px 0;
    display: block;
}

#leftarrow, #rightarrow {
    text-decoration: none;
    font-size: 60px;
    color: #23ba9c;
    position: absolute;
    top: 30%;
}

#leftarrow {
    left: -50px;
}

#rightarrow {
    right: -50px;
}

#main {
    position: relative;
    padding: 0 20px;
}


#one {
    background-color:  rgba(246,41,12,1); 
    background: -webkit-linear-gradient(top, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(250,250,250,1) 0%, rgba(209,208,214,1) 100%);
    background: -o-linear-gradient(top, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(250,250,250,1) 0%, rgba(209,208,214,1) 100%);
    background: -ms-linear-gradient(top, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(250,250,250,1) 0%, rgba(209,208,214,1) 100%);
    background: linear-gradient(to bottom, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(250,250,250,1) 0%, rgba(209,208,214,1) 100%);
    padding-top: 35px;
        
}

#two { 
    display: flex;
    align-items: center;
    padding: 15px 100px;
}

#two div {
    margin: 0 10px;
    position: relative;
  
}

#text {
    height: 240px;
    border: 1px solid grey;
    padding: 10px 10px;
    top: -12px;
    
}


#text p {
    font-size: 10x;
    color:#737373;
}

#text #head {
    font-size: 16px;
    font-weight: 900;
    color:black;
    position: relative;
}

#head::after {
    content:"" ;
    width:150px ;
    height:1px ;
    background-color: #2cc7ad;
    border:5px solid #2cc7ad;
    position: absolute;
    top: 20px;
    left: -1px;
}

.label {
    width:316px;
    height:60px;
    background-color: rgba(255,255,255, 0.4);
    position: absolute;
    top: -60px;
}

.label span {
    font-weight: 800;
    color: black;
    position: relative;
}

.label span::after{
    content:"" ;
    width:130px ;
    height:1px ;
    background-color: #2cc7ad;
    border:5px solid #2cc7ad;
    position: absolute;
    top: 20px;
    left:-5px;
}

#pricelist {
    background-color: #f0f0f0;
}

.container h3 {
    position: relative;
}

h3::after {
    content:"" ;
    width:300px ;
    height:1px ;
    background-color: #2cc7ad;
    border:5px solid #2cc7ad;
    position: absolute;
    top: 20px;
    left: -1px;
    
}

#plans {
    display: flex;
    align-items: center;
    margin: 70px 0;
}

.plan {
    height: 490px;
    width: 33%;
    border: 2px solid #c2c2c2;
    text-align: center;
    position: relative;
    padding: 20px;
    margin: 40px 10px;
    background-color: #f7f7f7;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 20px solid #f7f7f7;
    position: absolute;
    background-color: #c2c2c2;
    box-shadow: 0 0 0 2px grey;
    left: 50%;
    margin-left: -40px;
    top: -60px;
}


.white h2{
    color: #25c49f;
}

.blue h2 {
    color: #f7ffff;
    
}

.blue {
    background-color: #26c7a9;
}

.blue .circle {
    background-color: #f7ffff;
    border-color:#26c7a9 ;
}

.blue .price .numbers, .blue .price .currency {
    color: #26c7a9;;
}

.blue .join {
    background-color: #f7ffff;
    color: #26c7a9;
}

.price {
    background-color: #ffffff;
    box-sizing:  border-box;
    padding-top: 20px;
}

.join {
    text-decoration: none;
    background-color: #26c7a9;
    border-radius: 12px;
    border:1px solid white;
    width: 150px;
    height: 20px;
    position: absolute;
    bottom: 20px;
    left: 70px;
    color:#f7ffff;
    padding: 7px;
    font-size: 15px;
}

.price {
    width:120px;
    height: 120px;
    border: 1px solid #c2c2c2;
    border-radius:50%;
    position: absolute;
    top: 90px; ;
    left:95px ;
          
}

.price span {
    color: #bdbdbd;
    font-weight: 900;
}

.numbers{
    font-size: 28px;
}

.currency {
    font-size: 14px;
}

.plan table {
    width: 320px;
    position: absolute;
    top: 250px;
    left:-1px;
}

tr {
    height: 50px;
}

table tr:nth-child(2n+1){
    background-color: #e3e3e3;
}

table tr:nth-child(2n+2){
    background-color: #f0f0f0;
}

.blue table tr:nth-child(2n+1){
    background-color: #f0f0f0;
}

.blue table tr:nth-child(2n+2){
    background-color: #e3e3e3;
}

form input {
    border-color: #26c7a9;
}


form textarea {
    border-color: #26c7a9;
    width: 558px;
    height: 200px;
    resize: none;
    font-size: 33px;
    padding: 7px;
    margin: 9px 0;
    font-family: "Raleway";
    
}


form input[type=text] {
    width: 560px;
    height: 60px;
    font-size: 33px;
    padding: 5px;
    border-width: 1px;
    margin: 9px 0;
    font-family: "Raleway";
}


form input[type=submit] {
    background-color: #26c7a9;
    border-radius: 20px;
    width: 320px;
    height: 70px;
    color: #fffefa;
    font-size: 40px;
    margin-left: 650px;
    margin-top: -90px;
}

input[type="checkbox"] {
      width: 40px;
      height:40px;
      position: relative;
      z-index: 0;
   
    
}
input[type="checkbox"] + label span {
    width:44px;
    height:44px;
    border:1px solid #e3e3e3;
    background:url(../images/form_ok.jpg) left top no-repeat;
    position: absolute;
    right: 290px;
    top:3px;
    z-index: 1;
  
   }
 
#check {
    position: absolute;
    right: 40px;
    top:300px;
    color: #e3e3e3;
    font-size: 20px;
        
}


#form {
    position: relative;
}

#redChair {
    position: absolute;
    top: 20px;
    right: 50px;
    
}

footer {
    margin-top: 70px;
    margin-bottom: 40px;
     color: #9c9c9c;
    
}

.container div {
    display: inline-block;
}

#logo {
   margin-left: 300px;
}

#logo a {
    text-decoration: none;
}

#sit {
    font-weight: 700;
    margin-left: 50px;
    
}

#sit span {
     color: #9c9c9c;
    font-weight: 1000;
}