body {
    font-family: "Raleway", sans-serif;
}

header {
    background-color: #000000;
    font-weight: 600;
    color: white;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.container span {
    color:#30d1b4;
}

nav {
    float: right;
    font-weight: 700;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

nav ul li {  
    display: inline-block;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color:white;
    margin: 0 5px;
}


#dropdown {
    display: none;
    position: absolute;
    font-weight: 400;
}

 nav ul li:hover #dropdown {
    display: block;
}

#black {
    width: 100px;
    height: 70px;
    background-color: black;
    position: relative;
}

#triangle {
    width: 1px;;
    height: 1px;
    border: 1px solid black;
    position: absolute;
    left: 50px;
    top: -20px;
}


section h2 {
    font-size: 30px;
}

#block div {
    display:block;
}

.dropdown{
    font-family: "Raleway";
    font-size: 20px;
    font-weight: 800;
    width: 800px;
    height: 80px;
    border: 1px solid white;
    background-color: #30d1b4;
    color: white;
    padding:20px 5px 2px 5px;
    
}
.dropdown span {
    color:white;
    font-size: 36px;
    
}


footer {
    margin-top: 70px;
    margin-bottom: 40px;
     color: #9c9c9c;
    
}

.container div {
    display: inline-block;
}

#logo {
   margin-left: 300px;
}

#logo a {
    text-decoration: none;
}

#sit {
    font-weight: 700;
    margin-left: 50px;
    
}

#sit span {
     color: #9c9c9c;
    font-weight: 1000;
}